extends layout

block head
  title Projection Mapper
  link(rel='stylesheet', href='/css/rock-wall.css')
  script.
    content.slowmos = !{JSON.stringify(slowmos)}
  script(src='/js/utils.js')
  script(src='/js/rock-wall-methods.js')
  script(src='/js/rock-wall-procedures.js')
  script(src='/js/rock-wall.js')

block content
  - var blocksInMap = 24;
  - var unitsInBlock = 4;
  #wall
    #blocks
      - for(var i=0; i<blocksInMap; i++){
        .block(id="block-#{i}")
          - for(var j=0; j<unitsInBlock; j++){
            .unit(id="unit-#{i}-#{j}", class="unit-#{j}")
            .colored-unit(id="colored-unit-#{i}-#{j}", class="colored-unit-#{j}")
          - }
      - }

    #video-configs
      .config.takeover(data-config='takeover')
        +video('0')
      .config.multi.two-up(data-config='two-up')
        - for(var i=0; i<8; i++){
          +video(i)
        - }
      .config.multi.three-up-tilt(data-config='three-up-tilt')
        - for(var i=0; i<15; i++){
          +video(i)
        - }
      .config.multi.three-up-balance(data-config='three-up-balance')
        - for(var i=0; i<15; i++){
          +video(i)
        - }
      .config.multi.three-up(data-config='three-up')
        - for(var i=0; i<15; i++){
          +video(i)
        - }
      .config.multi.three-up-balance-right(data-config='three-up-balance-right')
        - for(var i=0; i<15; i++){
          +video(i)
        - }
      .config.multi.three-up-balance-left(data-config='three-up-balance-left')
        - for(var i=0; i<15; i++){
          +video(i)
        - }


mixin video(num)
  .mask
    video(class="vid-#{num}", autoplay='true', loop='true')
      source(src='')
