extends layout

block head
  title Slowmos
  script(src='/js/slowmo.js')
  script.
    content.slowmos = !{JSON.stringify(slowmos)}

block content
  h1 Slowmos
  #content

  #pagination
    - if(offset > 0)
      a(href="/?limit=#{limit}&offset=#{offset-limit}") Prev
    a(href="/?limit=#{limit}&offset=#{limit+offset}") Next
