extends layout

block head
  title Share-Guitar
  script(src='/js/slowmo.js')
  script.
    var preloadedSlowmos = !{JSON.stringify(slowmos)}

block content
  .container
    h1 Share-Guitar

    - if(offset==0){
      #code-entry
        label Enter your code to see your video
        input(type='text', placeholder='00000')
        input(type='button', value='OK')
    - }

    #content

  #pagination
    .container
      - if(offset > 0)
        a(href="/?limit=#{limit}&offset=#{offset-limit}").prev-page Prev Page
      a(href="/?limit=#{limit}&offset=#{limit+offset}").next-page Next Page
