extends layout

block head
  title Share-Guitar
  link(rel='stylesheet', href='/css/slowmo.css')
  script(src='/js/slowmo.js')
  script.
    var preloadedSlowmos = !{JSON.stringify(slowmos)}

block content
  .container
    h1
      a(href='/') Share-Guitar
    #content

  #footer
    .container
      - if(offset > 0)
        a(href="/?limit=#{limit}&offset=#{offset-limit}").prev-page Prev Page
      a(href="/?limit=#{limit}&offset=#{limit+offset}").next-page Next Page
